body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Helvetica', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: minmax(500px, 900px);
  gap: 100px 0;
}

.beer {
  display: grid;
  grid-template-rows: minmax(0, min-content) 50px auto;
  grid-template-columns: 0.2fr 1fr;
  grid-gap: 0 10px;
}

.beer--content {
  grid-row: 1 / 3;
  grid-column: 2 / 2;
}

.beer--title, .beer--description, .beer-tagline {
  margin: 0;
}

.beer--image {
  height: 200px;
}

.beer--tagline {
  font-weight: bold;
}
